{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row m-auto">
        <div class="col-12">
            <h1>Welcome to SAIDI-SAIFI Calculation System</h1>
            <br>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-dark">
                  <strong>Instruction:</strong> 
                </a>
                <a href="#" class="list-group-item list-group-item-action">Data upload must be .xlxs extention</a>
                <a href="#" class="list-group-item list-group-item-action">Be upload excel file insert column at first</a>
                <a href="#" class="list-group-item list-group-item-action">After data calculation delte previous data</a>
                
              </div>
            
        </div>
    </div>
</div>

{% endblock %}